.user-component__subtitle i {
  font-size: 10px;
  margin-left: 5px;
  color: tomato;
}

.user-component__column > i {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.774);
}

.more-icons {
  display: flex;
  justify-content: flex-start;
  padding: 10px 20px;
  padding-bottom: 40px;
}

.more-icons__column {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more-icons__column i {
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.774);
  font-size: 30px;
}

.more-icons__column span {
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
}

.more-suggestions {
  padding: 20px;
}

.more-suggestions__title {
  font-size: 14px;
  margin-bottom: 20px;
}

.more-suggestions__icons {
  display: flex;
  font-size: 14px;
  color: grey;
  padding-left: 10px;
}

.more-suggestions__icons--icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.more-suggestions__icons--icon i {
  margin-bottom: 10px;
  background-color: yellow;
  font-size: 20px;
  padding: 15px 15px;
  color: rgb(24, 24, 24);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
