#chat-screen {
  background-color: #abc1d1;
  height: 10000vh;
}

#chat-screen .status-bar {
  position: fixed;
  z-index: 2;
}

.alt-header {
  background-color: #abc1d1;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 10px;
  width: 100%;
  padding: 25px 10px;
  box-sizing: border-box;
  font-size: 18px;
}

.alt-header__column {
  width: 33%;
}

.alt-header__column:nth-child(2) {
  text-align: center;
  font-size: 24px;
}

.alt-header__column:last-child {
  display: flex;
  justify-content: flex-end;
}

.alt-header__column:last-child i {
  margin-left: 25px;
}
