.nav__list {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  opacity: 0.9;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.1);
  padding: 20px 40px;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

.nav__link {
  position: relative;
  color: #2e363e;
}

.nav__notification {
  position: absolute;
  left: 15px;
  bottom: 10px;
}
